@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper {
  --swiper-navigation-color: #000;
  --swiper-pagination-color: #000;
  padding-top: 50px !important;
  margin-top: -50px !important;
}

.dark .mySwiper {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}
